<link rel="stylesheet" href="components/lostpwd/lostpwd.css" <div ng-init="content = 'mail'">
</div>

<head>
  <meta charset="utf-8">
  <title=hola mundo</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="lostpwdContrl.js"></script>

    <head>

      <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style=";">
          <!-- <a class="nav-link">Lorebi <span class="sr-only">(current)</span></a> -->

          <img src="./img/logo0.png" style="max-height:50px;margin:0 auto;display:block" class="img-responsive " alt="">


        </nav>
        <div class="degradado">



          <div class="center ">

            <div class="h1">
              Restablecer Contraseña
            </div>





            <form method="post">
              <p align="center">

                <label for="first">Email o Usuario  </label>

                <input ng-keypress="enter($event)"  type="text" class="form-control" ng-change="error = false" ng-model="valor" align="center">
              </p>


            </form>

            <p ng-if="cargar" align="Center">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </p>
            <div ng-if="error" class="h5" style="color:#59418B; text-align: center;">
              {{errormsg}}
            </div>

            <p align="center">
              <button type="button"  ng-disabled="cargar"  class="btn btn-primary " ng-click="cancelar()">Cancelar.</button>

              <button type="button" ng-disabled="cargar"  class="btn btn-primary " ng-click="enviar()">Enviar.</button>
            </p>

          </div>

        </div>

      </body>
